@model Library.Models.Book

<h2>Edit Author</h2>

<form asp-action="Edit" method="get">
    <input type="hidden" asp-for="Id" />

    <div class="form-group">
        <label asp-for="Name" class="form-label">First Name</label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="form-group mt-3">
        <label asp-for="Count" class="form-label">Count</label>
        <input asp-for="Count" class="form-control" />
        <span asp-validation-for="Count" class="text-danger"></span>
    </div>

    <div class="form-group mt-3">
    <label asp-for="Genre.Name" class="form-label">Genre</label>
        <select asp-for="GenreId" class="form-select">
            <option value="">Select a genre</option>
            @foreach (var genre in (SelectList)ViewBag.Genres)
            {
                if (genre.Value == Model.GenreId.ToString())
                {
                    <option value="@genre.Value" selected>@genre.Text</option>
                }
                else
                {
                    <option value="@genre.Value">@genre.Text</option>
                }
            }
        </select>
    <span asp-validation-for="Genre.Name" class="text-danger"></span>
</div>

    <div class="form-group mt-3">
        <button asp-action="BookEdit"  class="btn btn-primary">Save</button>
        <a asp-action="Index" class="btn btn-secondary">Cancel</a>
    </div>
</form>